<div class="nav-top">
    <div class="section">
        <ul>
            <li class="z-menu" tabindex="1">
                <span class="iconfont transfor"></span>
                <span>调试模式</span>
                <span class="iconfont down"></span>
                <ul id="z_debugMode">
                    <li>调试模式</li>
                    <li class="border">浏览模式</li>
                </ul>
            </li>
            <li class="z-menu" tabindex="2">
                <span class="iconfont config"></span>
                <span>工具</span>
                <span class="iconfont down"></span>
                <ul id="z_mainMenu">
                    <li>一键锁定</li>
                    <li>一键解锁</li>
                    <li>显示物体</li>
                    <li class="border">保存版本</li>
                    <li>版本回溯</li>
                    <li>删除版本</li>
                    <li class="border">描边粗细</li>
                    <!--<li class="border">调试光源</li>-->
                    <!--<li>光球大小</li>-->
                    <!--<li>关闭光源</li>-->
                    <li class="border">更新图库</li>
                </ul>
            </li>
            <li class="z-menu" tabindex="3" id="z_chatMenu">
                <span class="iconfont chat"></span>
                <span>聊天</span>
                <span class="iconfont down"></span>
                <ul id="z_online">
                    <!--<li>祝旭东</li>-->
                    <!--<li class="border">test</li>-->
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="nav-lan-dragbar"></div>
<div class="nav-lan">
    <div class="title">
        <span class="scene">Scene</span>
        <span class="iconfont refresh " title="Refresh Scene"></span>
    </div>
    <ul class="lan-list">
        <!--<li><span class="stat color-success"></span><span>mesh1</span><span class="iconfont config"></span></li>-->
        <!--<li><span class="stat color-warn"></span><span>mesh2</span></li>-->
        <!--<li><span class="stat color-danger"></span><span>mesh3</span></li>-->
    </ul>
    <!--<div class="iconfont left nav-lan-toggle"></div>-->
</div>
<!--单个菜单栏-->
<ul class="submenu" tabindex="1">
    <li>锁定物体</li>
    <li>解锁物体</li>
    <li>隐藏物体</li>
    <li>显示物体</li>
    <li class="border">调试材质</li>
    <li>复制材质</li>
    <li>粘贴材质</li>
    <!--<li class="border">导入材质</li>-->
    <!--<li>导出材质</li>-->
    <li class="border">转化材质</li>
</ul>
<div class="nav-pic-dragbar"></div>
<div class="nav-pic">
    <div class="title">
        <button class="btn ">公有库平面纹理</button>
        <button class="btn">公有库立方体纹理</button>
        <button class="btn">私有库平面纹理</button>
        <button class="btn">私有库立方体纹理</button>
    </div>
    <!--公有库平面纹理-->
    <div class="pic-panel pic-panel-texture">
        <!--<div class="file">-->
        <!--<img class="mini" src="../../assets/materialLib/textures/leather8.jpg" alt="">-->
        <!--<span class="name">leather6.jpg</span>-->
        <!--</div>-->
        <!--<div class="file">-->
        <!--<img class="mini" src="../../assets/materialLib/textures/leather7.jpg" alt="">-->
        <!--<span class="name">leather7.jpg</span>-->
        <!--</div>-->
        <!--<div class="file">-->
        <!--<img class="mini" src="../../assets/materialLib/textures/leather7.jpg" alt="">-->
        <!--<span class="name">leather7.jpg</span>-->
        <!--</div>-->
        <!--<div class="file">-->
        <!--<img class="mini" src="../../assets/materialLib/textures/leather7.jpg" alt="">-->
        <!--<span class="name">leather7.jpg</span>-->
        <!--</div>-->
    </div>
    <!--公有库立方体纹理-->
    <div class="pic-panel pic-panel-cube">
        <!--<div class="file">-->
        <!--<img class="mini" src="../../assets/materialLib/skyboxs/blackmini/blackmini_px.jpg" alt="">-->
        <!--<img class="mini" src="../../assets/materialLib/skyboxs/blackmini/blackmini_py.jpg" alt="">-->
        <!--<img class="mini" src="../../assets/materialLib/skyboxs/blackmini/blackmini_pz.jpg" alt="">-->
        <!--<img class="mini" src="../../assets/materialLib/skyboxs/blackmini/blackmini_nx.jpg" alt="">-->
        <!--<img class="mini" src="../../assets/materialLib/skyboxs/blackmini/blackmini_ny.jpg" alt="">-->
        <!--<img class="mini" src="../../assets/materialLib/skyboxs/blackmini/blackmini_nz.jpg" alt="">-->
        <!--<span class="name">blackmini</span>-->
        <!--</div>-->
    </div>
    <div class="pic-panel pic-panel-texture"></div>
    <div class="pic-panel pic-panel-cube"></div>
</div>

<div class="nav-chat">
    <div class="dragbar-top"></div>
    <div class="dragbar-bottom"></div>
    <div class="dragbar-left"></div>
    <div class="dragbar-right"></div>
    <div class="dragbar-left-top"></div>
    <div class="dragbar-left-bottom"></div>
    <div class="dragbar-right-top"></div>
    <div class="dragbar-right-bottom"></div>
    <div class="chat-top">
        <div class="chat-logo">
            <span class="color-danger"></span>
            <span class="color-warn"></span>
            <span class="color-success"></span>
        </div>
        <span class="chat-who">消息日志</span>
        <div class="user-info">
            <span class="iconfont close "></span>
            <span class="iconfont config "></span>
            <div class="myname">祝旭东</div>
            <div class="user-me user-img rotate"></div>
        </div>
    </div>
    <div class="chat-list">
        <div class="user public active ">
            <div class="user-name">公共聊天室...</div>
        </div>
        <div class="user log ">
            <div class="user-name">消息日志...</div>
        </div>
        <!--<div class="user">-->
        <!--<div class="user-img"></div>-->
        <!--<div class="user-name">祝旭东</div>-->
        <!--</div>-->
        <!--<div class="user">-->
        <!--<div class="user-img"></div>-->
        <!--<div class="user-name">test</div>-->
        <!--</div>-->
    </div>
    <div class="chat-input">
        <textarea placeholder="begin chating......"></textarea>
        <span class="iconfont send"></span>
    </div>
    <div class="chat-body">
        <!--<div class="chat-content me">-->
        <!--<div class="user-img-wrapper">-->
        <!--<div class="user-img"></div>-->
        <!--</div>-->
        <!--<div class="content-wrapper">-->
        <!--<span class="username">祝旭东</span>-->
        <!--<div class="content"> 我发送的信息123 test 中文122222222222222222222222223213213213131323113132132</div>-->
        <!--</div>-->
        <!--<div class="time">14:42 PM</div>-->
        <!--</div>-->

        <!--<div class="chat-content other">-->
        <!--<div class="user-img-wrapper">-->
        <!--<div class="user-img"></div>-->
        <!--</div>-->
        <!--<div class="content-wrapper">-->
        <!--<span class="username">章远景</span>-->
        <!--<div class="content">别人发送的信息123 test</div>-->
        <!--</div>-->
        <!--<div class="time">14:42 PM</div>-->
        <!--</div>-->
    </div>
</div>
<!--登录页面-->
<div class="mul-login z-cover">
    <div class="inner">
        <div class="toggleLogin">
            没有账号？
            <a data-type="register">注册</a>
        </div>
        昵称：<input type="text" data-type="account">
        密码：<input type="password" data-type="password">
        <button class='btn color-success'>登录</button>
    </div>
</div>
<!--注册页面-->
<div class="mul-register z-cover">
    <div class="inner">
        <div class="toggleLogin">
            已有账号？
            <a data-type="login">登录</a>
        </div>
        昵称：<input type="text" data-type="account">
        密码：<input type="text" onfocus="this.type='password'" data-type="password">
        确认密码：<input type="text" onfocus="this.type='password'" data-type="password2">
        <button class='btn color-success'>确定</button>
    </div>
</div>
